{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <button type="button" class="btn btn-danger mb-5"><a href="{{ path('article') }}" style="color:black">Back to Articles</a></button>
    {{ form_start(form) }}


    {{ form_end(form) }}
{% endblock %}
